@import "../import/variables.scss";
header{
    font-family: 'Shrikhand', cursive;
    padding: 15px;
    z-index: 1;
    border-bottom: 1px solid $grey-lighter;
        h1{
        text-align: center;
        font-family: 'Shrikhand';
        }    
}